POSTGRES_IMAGE=postgres:16.13
MINIO_IMAGE=minio/minio:RELEASE.2025-09-07T16-13-09Z

POSTGRES_DB=websidian-pgsql
POSTGRES_USER=websidian_pgsql
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

MINIO_ROOT_USER=websidian_minio
MINIO_ROOT_PASSWORD=change_me
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET=websidian_minio_dev